:host { 
  display: contents; 
}
.component1-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component1-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .component1-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .component1-container {
    flex-direction: column;
  }
}
